extends layout

block content
  h1= title
  h1 API
  p BIENVENIDO A  #{title} API
  p USTED ESTA USANDO LA API DE #{title}!
  br
  p Para mayor detalle dirigase al README.md donde se encontrara con informacion sobre el consumo de la API
  br
  br
  p GRACIAS!
  br
  br
  h3 Atentamente: 
  h4 #{title} S.A.C marca registrada
  p Nota: las apis no se prueban en google ctmre gracias!
